﻿@model PalarmPlus.BLL.UtilClass.MultipleModelView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Session["DisplayName"]  - @Session["InstName"].ToString() - Student Panel - Parentsalarm.com</title>
    <script src="~/Content/js/sidebar/jquery.min.js"></script>
    <script src="~/Content/js/sidebar/ddaccordion.js"></script>
    <link runat="server" rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon"/>
                <link runat="server" rel="icon" href="~/Content/images/favicon.ico" type="image/ico"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	

$(document).ready(function() {
   
   var docHeight = $(window).height();
   var footerHeight = $('#footer').height();
   var footerTop = $('#footer').position().top + footerHeight;
   
   if (footerTop < docHeight) {
    $('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
   }
  });
</script>
	
    @Styles.Render("~/Content/Style")
    
    @Html.Partial("~/Views/Shared/_GoogleAnalytics.cshtml")
    <script type="text/javascript">
        ddaccordion.init({
            headerclass: "submenuheader", //Shared CSS class name of headers group
            contentclass: "submenu", //Shared CSS class name of contents group
            revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
            mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
            collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
            defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
            onemustopen: true, //Specify whether at least one header should be open always (so never all headers closed)
            animatedefault: false, //Should contents open by default be animated into view?
            persiststate: true, //persist state of opened contents within browser session?
            toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
            togglehtml: ["suffix", "<img src='http://parentsalarm.com/Content/images/plus.gif' class='statusicon' />", "<img src='http://parentsalarm.com/Content/images/minus.gif' class='statusicon' />"],   	//Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
            animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
            oninit: function (headers, expandedindices) { //custom code to run when headers have initalized
                //do nothing  <img src="~/Content/images/minus.gif" />
            },
            onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
                //do nothing
            }
        })
    </script>

<!-- End of Siderbar Accorion -->


<!-- Check Tab -->


<script type="text/javascript">

    $(document).ready(function () {
        $(".tab_content").hide();
        $(".tab_content:first").show();

        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");
            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();
        });
    });

</script> 
    @*<script>
	    var logoutUser = false;
	    var timeoutHnd = null;
	    var logouTimeInterval = 10000;// Three Second
	    function onuser_activite() {
	        if (logoutUser) {
	            ;
	        }
	        else {
	            ResetLogOutTimer();
	        }
	    }
	    function OnTimeoutReached() {
	        logoutUser = true;
	        document.getElementById('light').style.display = 'block'; document.getElementById('fade').style.display = 'block'
	        //var r = confirm("You Session Expired!.. ");
	        if (r == true) {
	            // window.location.href = "../../About/Logout";

	           
	        } else {
	            ResetLogOutTimer();
	        }
	       

	    }
	    function ResetLogOutTimer() {
	        clearTimeout(timeoutHnd);
	        // set new timer
	        timeoutHnd = setTimeout('OnTimeoutReached();', logouTimeInterval);
	    }

	    function StayPage() {
	        ResetLogOutTimer();
	        document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'
	    }
	    function LeavePage() {
	        window.location.href = "../../About/Logout";
	    }

</script>*@
   @*<script type="text/javascript">

       var clicked = false;
       function CheckBrowser() {
           if (clicked == false) {
               //Browser closed
           }
           else {
               //redirected 
               clicked = false;
           }
       }

       function bodyUnload() {
           if (clicked == false)//browser is closed
           {
               var request = GetRequest();

               request.open("GET", "../../About/Logout", true);
               request.send();
           }
       }

       function GetRequest() {
           var request = null;
           if (window.XMLHttpRequest) {
               //incase of IE7,FF, Opera and Safari browser
               request = new XMLHttpRequest();
           }
           else {
               //for old browser like IE 6.x and IE 5.x
               request = new ActiveXObject('MSXML2.XMLHTTP.3.0');
           }
           return request;
       }
       </script>*@
    @if (Session["StudId"] == null || Session["StudId"].ToString() == "")
            {
                 Response.Redirect("~/");
            }
            else
            {
                
            }
</head>

<body >
    <div id="main">

<!-- Header -->
<div class="header">

	<!-- Hleft -->
	<div class="hleft">
	<div class="logo"><a href="Index" title="Parentsalarm"><img src="~/Content/images/index.png" width="250" height="50" alt="Parentsalarm"></a></div>
	</div>
	<!-- End of Hleft -->
    
	<!-- Hmid -->
	<div class="hmid">
	<div class="loged-info"> 

       
          
        @Session["InstName"].ToString()

    
  
        
	</div>
  
	</div>
	<!-- End of Hmid -->

	<!-- Hright -->
	<div class="hright">
	<img src='../../@TempData["LogoPath"]' alt="@TempData["InstName"]"  width="200" height="50" title="@TempData["InstName"]">
	</div>
	<!-- End of Hright -->
 
</div>
<!-- End of Header -->
        @ViewBag.MenuCount
</div>
    <div id="menu">
   @{ Html.RenderAction("Menu", "StudentMenu"); }
</div>     

   <div id="main">
        @RenderBody()
       @Scripts.Render("~/bundles/jquery")
       @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    </div>

    <div id="footer">
<div class="footer1">
<div class="footer-left">
<input type="text" name="save" id="txt">
    <img src="~/Content/images/footer-logo.png" width="300" height="40" />
<p>An ISO 27001 : 2013 & ISO 9001 : 2008 Certified Company<br>© 2015 Copyright Parentsalarm.com | All Rights Reserved</p>
     <span id="siteseal" onclick="verifyGoDaddySSLSeal();" style="cursor: pointer;" title="Parentsalarm.com -Verified & Secured by GoDaddy.com">
                        <img src="~/Content/images/godaddyseal.png" width="135px" height="32px" alt="Parentsalarm.com - Verified & Secured by GoDaddy.com" />
                    </span>
</div>

<div class="footer-mid">
 <span><strong><span style="text-transform: uppercase;">Call Us :</span></strong><br>
                        +91-44-64624700 | 9282424700 </span>
                    <br>
                    <span><strong><span style="text-transform: uppercase;">E-mail :</span></strong>
                        <a href="mailto:info@parentsalarm.com">info@parentsalarm.com</a></span>
    <br>
    <div class="social-media">
        <a href="https://www.facebook.com/parentsalarm" target="_blank" title="Follow Parentsalarm on Facebook"><img src="~/content/images/facebook.png"  width="32" height="32" alt="Parentsalarm.com Facebook Page"></a>
<a href="https://twitter.com/parentsalarm" target="_blank" title="Follow Parentsalarm on Twitter"><img src="~/content/images/twitter.png" width="32"  height="32" alt="Parentsalarm.com Twitter Page"></a>
<a href="https://plus.google.com/+parentsalarm" target="_blank" title="Follow Parentsalarm on Google+"><img src="~/content/images/googleplus.png" width="32" height="32" alt="Parentsalarm.com Google Plus Page"></a>
</div>

</div>

@*<div class="footer-right">

<span><strong><span style="text-transform:uppercase;">We are here :</span></strong><br>
2nd floor, New No. 48, Old No. 55,<br>
Burkit Road, T.Nagar,<br>
Chennai – 600017.
</span>

</div>*@
</div>	
</div>
    <!--Start of Zopim Live Chat Script-->

<!--End of Zopim Live Chat Script-->
     <script type="text/javascript">
         function verifyGoDaddySSLSeal() {
             window.open("https://seal.godaddy.com/verifySeal?sealID=uymlOhwj48fpOfhS7pe8w1WpfAqhrh71aRZm2kU8zFpSZhnODdzNUPp75fXw", "SSL Verification", "toolbar=no, location=no,status=yes,menubar=no,scrollbars=yes,resizable=no, width=600,height=462");
             return false;
         }
    </script>
</body>
</html>
